$text-color-1: rgb(255, 255, 255);
$text-color-2: rgb(250, 250, 250);

.weather-today {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  width: calc(50vw);
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1600px) {
    max-width: 800px;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    padding: 5px;
    margin-top: 5px;
    height: 70vw;
  }
}

.location {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: $text-color-2;
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  & .country {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      font-size: 4vw;
    }
  }

  & .city {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      font-size: 5vw;
    }
  }
}

.date-time {
  color: $text-color-2;
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 15px;

  @media screen and (max-width: 768px) {
      font-size: 4vw;
  }

  & .time {
    margin-left: 10px;
  }
}

.weather-info {
  display: flex;
  color: $text-color-2;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;

  & .temperature {
    display: flex;
  }

  & .degrees {
    font-size: 280px;
    font-weight: 700;
    letter-spacing: -10px;

    @media screen and (max-width: 1350px) and (min-width: 1024px) {
      font-size: 20vw;
    }

    @media screen and (max-width: 768px) {
      font-size: 32vw;
    }
  }

  & .info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;

    & .info-item {
      text-transform: uppercase;
      font-size: 18px;
      margin-top: 10px;

      @media screen and (max-width: 1350px) and (min-width: 1024px) {
        font-size: 1.4vw;
      }

      @media screen and (max-width: 768px) {
        font-size: 3vw;
      }
    }

    & span {
      white-space: nowrap;
    }

    & .info-item.sky {
       white-space: pre-wrap;
    }

  }

  & .symbol {
    font-size: 100px;
  }
}

.weather-icon {
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-top: 25px;
    margin-bottom: -20px;
  }
}

