.icon {
  display: block;
  transform: scale(.7);
  position: absolute;
  left: 50px;
  top: -50px;
}

.one-day {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 125px;
  justify-content: space-around;
}

.degree-and-cloudy {
  position: relative;
}

.degree {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -5px;
}
