<div class="weather-today">
  <div class="location" *ngIf="city">
    <span class="city">{{ city }}</span>
    <span class="country">{{ country }}</span>
  </div>
  <div class="date-time" *ngIf="city">
    <span class="date">{{ date | date: 'E dd MMMM': '': lan }}</span>
    <span class="time">{{ date | date: 'HH:mm:ss' }}</span>
  </div>
  <div class="weather-info">
    <div class="temperature" *ngIf="temperature">
      <span class="degrees">{{ temperature | temp: fahrenheit }}</span>
      <span class="symbol">°</span>
    </div>
    <div class="info">
      <span class="weather-icon">
        <app-weather-icons *ngIf="temperature" [weather]="cloudyToday"></app-weather-icons>
      </span>
      <span class="info-item sky" *ngIf="sky">{{ sky }}</span>
      <span class="info-item feels" *ngIf="feelsLike">{{ feelsLikeText }} {{ feelsLike | temp: fahrenheit }}°</span>
      <span class="info-item wind" *ngIf="windSpeed">{{ windDirection }}: {{ windSpeed }}</span>
      <span class="info-item humidity" *ngIf="humidity">{{ humidityText }} {{ humidity }}%</span>
    </div>
  </div>
</div>
