@import "~normalize-scss/sass/normalize/import-now";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

.mapboxgl-control-container {
  display: none;
}
