@import "~normalize-scss/sass/normalize/import-now";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

.mapboxgl-control-container {
  display: none;
}

.line-preloader{
  width:100%;
  height:5px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:auto;
  border-radius:4px;
  background-size:20%;
  background: #ccc linear-gradient(to right, coral, coral) repeat-y -80% 0;
  animation: scroll 1.2s ease-in-out infinite;
}

@keyframes scroll{
  50%{background-size:75%}
  100%{background-position:125% 0;}
}

.preloader-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: rgb(240, 220, 170);
    overflow: hidden;
}

.progress .indeterminate {
    background-color: coral;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}

.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}
