<div class="control-block">
  <div class="control-block__switch">
    <div class="left">
      <button class="btn control-block__refresh" id="refresh" (click)="refresh()">
        <span class="material-icons">autorenew</span>
      </button>
      <div class="control-block__languages-container">
        <button class="btn control-block__languages" id="languages" (click)="showListBlock()">
          <span>{{ currentLanguage }}</span>
          <i class="arrow_down material-icons">keyboard_arrow_down</i>
        </button>
        <div class="languages-list" [class.show-list]="showList" (click)="changeLanguage($event)">
          <span class="lang" [class.selected]="'en' === currentLanguage.toLowerCase()">EN</span>
          <span class="lang" [class.selected]="'ru' === currentLanguage.toLowerCase()">RU</span>
          <span class="lang" [class.selected]="'be' === currentLanguage.toLowerCase()">BE</span>
        </div>
      </div>
    </div>
    <div class="error mobile" *ngIf="error">
      <span class="error-span">{{ error }}</span>
    </div>
    <div class="right">
      <button [class.degree-active]="fahrenheit"
              class="btn control-block__fahrenheit"
              id="fahrenheit"
              (click)="changeDegree($event.target.dataset.degree)"
              data-degree="f"
      >°F</button>
      <button [class.degree-active]="!fahrenheit"
              class="btn control-block__celsius"
              id="celsius"
              (click)="changeDegree($event.target.dataset.degree)"
              data-degree="c"
      >°C</button>
    </div>
  </div>
  <div class="error" *ngIf="error">
    <span class="error-span">{{ error }}</span>
  </div>
  <div class="control-block__search-block">
    <input class="control-block__item control-block__input"
           [(ngModel)]="cityName"
           (keydown.enter)="getWeather()"
           type="text"
           [placeholder]="placeholder"
    >
    <div class="icons-block">
      <span class="material-icons speaker"
            [class.on-speech]="isSpeak"
            (click)="speechWeather()"
      >campaign</span>
      <span class="material-icons mic"
            [class.on-speech]="isMicOn"
            (click)="microphoneOn()"
      >mic</span>
    </div>
    <button class="control-block__item control-block__search" (click)="getWeather()">{{ search }}</button>
  </div>
</div>

<div class="control-block mobile">
  <div class="control-block__search-block mobile">
    <input class="control-block__item control-block__input"
           [(ngModel)]="cityName"
           (keydown.enter)="getWeather()"
           type="text"
           [placeholder]="placeholder"
    >
    <button class="control-block__item control-block__search" (click)="getWeather()">{{ search }}</button>
  </div>
</div>
