.wrap-app {
  background-image: url(https://live.staticflickr.com/65535/49934442397_cd42f1d792_h.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container-app {
  margin: 30px;
}

