.wrap-app {
  background-image: url(../assets/sun.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all .3s ease;
  opacity: 1;

  &.change {
    opacity: .5;
  }
}

.container-app {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 30px auto;
  padding: 0 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

